<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits - Morseku</title>

    <!-- File CSS Utama -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- File CSS Credit -->
    <link rel="stylesheet" href="{{ url_for('static', filename='credit.css') }}">

    <!-- Font Orbitron -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <a href="{{ url_for('index') }}" class="back-btn">⬅️ Back</a>

    <div class="title">Morseku</div>

    <div class="credit-box">
        <h3>Created by:</h3>
        <div class="credit-name">Saputra Yahya Wijaksono</div>
        <div class="credit-name">Muamar Hillmi Aziz</div>
    </div>

    <div class="tagline">
        DIV TEKNIK INFORMATIKA
    </div>
    <div class="tagline">
        POLITEKNIK HARAPAN BERSAMA
    </div>

</body>
</html>
